<!-- Home Menu Obj Backstage-->
<section id="objWhiteHomeBackstage" class="zi2cbeta selHov">
  <a href="backstage"><img src="/images/Vector 7menu2.png" alt="" class="objDim4" onmouseover="document.getElementById('objGreenHome').src='/images/Vector 6B.png';"></a>
</section>
