<!-- Home Menu Obj Discover -->
<section class="zi2a">
  <img id="objWhiteHome" src="/images/Vector 7.png" alt="" class="objDim2" onmouseover="document.getElementById('objGreenHome').src='/images/Vector 6.png';"></a>
</section>
