<!-- Home Menu Obj Contatti-->
<section id="objWhiteHomeContatti" class="zi2cgamma selHov">
  <a href="contatti"><img  src="/images/Vector 7menu3.png" alt="" class="objDim5" onmouseover="document.getElementById('objGreenHome').src='/images/Vector 6@.png';" onmouseout="(document.getElementById('objGreenHome').src='/images/Vector 6.png';" ></a>

</section>
