<!-- Home Menu Obj Lavori-->
<section id="objWhiteHomeLavori" class="zi2calfa selHov">
  <a href="lavori"><img  src="/images/Vector 7menu1.png" alt="" class="objDim3" onmouseover="document.getElementById('objGreenHome').src='/images/Vector 6L.png';" ></a>
</section>
