<div class="spacer s0"></div>
    <div id="parallax1" class="parallaxParent">
      <div style="background-image: url(/images/bk1.png);" class="bgDim"></div>
    </div>

    <div class="spacer s0"></div>
    <div id="parallax2" class="parallaxParent">
      <div style="background-image: url(/images/bk2.png);" class="bgDim"></div>
    </div>

    <div class="spacer s0"></div>
    <div id="parallax3" class="parallaxParent">
      <div style="background-image: url(/images/bk3.png);" class="bgDim"></div>
    </div>
