<!DOCTYPE html>
<html lang="it">
<head>
  <!--Head Declaration-->
	<% include partials/layout/head.ejs %>
</head>
    <body class="">
	  	<% include partials/layout/canvas_particle.ejs %>

        <% include partials/layout/backstage_layout/backstage_obj_img_placeholder.ejs %>
        <% include partials/layout/backstage_layout/backstage_obj_img_gre.ejs %>
        <% include partials/layout/backstage_layout/backstage_obj_img_gry.ejs %>

        <% include partials/content/vertical_txt/bckstg.ejs %>

		<% include partials/content/button/button_arrow_left_backstage.ejs %>
		<% include partials/content/button/button_arrow_right_backstage.ejs %>

		<% include partials/content/logo/logo_backstage.ejs %>

 	    <% include partials/layout/scripts_particle.ejs %>
 	    <% include partials/layout/scripts.ejs %>
    </body>
</html>
