<!DOCTYPE html>
<html lang="it">
<head>
  <!--Head Declaration-->
	<% include partials/layout/head.ejs %>
</head>
    <body class="">
        <% include partials/layout/canvas_particle.ejs %>

        <% include partials/layout/contatti_layout/contatti_obj_gre.ejs %>

        <% include partials/content/address/descrizione_titolo.ejs %>
        <% include partials/content/address/descrizione.ejs %>
        <% include partials/content/address/mail_titolo.ejs %>
        <% include partials/content/address/mail_.ejs %>
        <% include partials/content/address/telefono_titolo.ejs %>
        <% include partials/content/address/telefono_num.ejs %>
        <% include partials/content/address/telefono_titolo.ejs %>
        <% include partials/content/address/telefono_num.ejs %>
        <% include partials/content/address/linkedin_titolo.ejs %>
        <% include partials/content/address/linkedin_link.ejs %>
        <% include partials/content/address/indirizzo_titolo.ejs %>
        <% include partials/content/address/indirizzo_via.ejs %>
        <% include partials/content/address/maps.ejs %>

        <% include partials/content/logo/logo_contatti.ejs %>

        <% include partials/layout/scripts_particle.ejs %>
 	    <% include partials/layout/scripts.ejs %>
    </body>
</html>
