<!DOCTYPE html>
<html lang="it">
<head>
  <!--Head Declaration-->
	<% include partials/layout/head.ejs %>
</head>
    <body class="">
	    <% include partials/layout/canvas_particle.ejs %>

        <% include partials/layout/home_layout/home_obj_gre.ejs %>
    	<% include partials/layout/home_layout/home_obj_wh.ejs %>

        <% include partials/content/menu/menu_header.ejs %>
        <% include partials/content/menu/menu_header_txt.ejs %>
        <% include partials/content/menu/menu_lavori.ejs %>
        <% include partials/content/menu/menu_lavori_txt.ejs %>
        <% include partials/content/menu/menu_backstage.ejs %>
        <% include partials/content/menu/menu_backstage_txt.ejs %>
        <% include partials/content/menu/menu_contatti.ejs %>
        <% include partials/content/menu/menu_contatti_txt.ejs %>
        <% include partials/content/menu/menu_dropdown.ejs %>

        <% include partials/content/button/button_pl(a)x.ejs %>
        <% include partials/content/button/button_text_pl(a)x.ejs %>

        <% include partials/content/logo/logo_home.ejs %>

        <% include partials/content/vertical_txt/ciao.ejs %>
        <% include partials/content/vertical_txt/sono.ejs %>
        <% include partials/content/vertical_txt/giuseppe.ejs %>
        <% include partials/content/vertical_txt/creative.ejs %>
        <% include partials/content/vertical_txt/developer.ejs %>

 	    <% include partials/layout/scripts_particle.ejs %>
        <% include partials/layout/scripts.ejs %>
    </body>
</html>
