<!DOCTYPE html>
<html lang="it">
<head>
  <!--Head Declaration-->
	<% include partials/layout/head.ejs %>
</head>
    <body class="">
	  	<% include partials/layout/canvas_particle.ejs %>

        <% include partials/layout/lavori_layout/lavori_obj_img_placeholder.ejs %>
        <% include partials/layout/lavori_layout/lavori_obj_gre.ejs %>
    	<% include partials/layout/lavori_layout/lavori_obj_gry.ejs %>

        <% include partials/content/txt/lavori_title_txt.ejs %>

        <% include partials/content/button/button_arrow_left_lavori.ejs %>
        <% include partials/content/button/button_arrow_right_lavori.ejs %>
        <% include partials/content/button/button_arrow_down_lavori.ejs %>

        <% include partials/content/logo/logo_lavori.ejs %>

 	    <% include partials/layout/scripts_particle.ejs %>
 	    <% include partials/layout/scripts.ejs %>
    </body>
</html>
