<!DOCTYPE html>
<html lang="it" class="overF">
<head>
  <!--Head Declaration-->
	<% include partials/layout/head.ejs %>
</head>
<body class="overF">

        <% include partials/layout/pl(a)x_layout/pl(a)x_obj_gre.ejs %>

        <% include partials/content/txt/pl(a)x_title_txt.ejs %>

        <% include partials/content/logo/logo_pl(a)x.ejs %>

        <% include partials/content/pl(a)Xscene/storyboard.ejs %>

        <% include partials/layout/pl(a)x_layout/pl(a)x_obj_gry.ejs %>
        <% include partials/layout/pl(a)x_layout/pl(a)x_obj_gry2.ejs %>

        <% include partials/layout/pl(a)x_layout/pl(a)x_obj_grya.ejs %>
        <% include partials/layout/pl(a)x_layout/pl(a)x_obj_gry2a.ejs %>

        <% include partials/layout/scripts.ejs %>
    </body>
</html>
