<!-- Text Lavori-->
<section class="zi3dalfaback">
  <!--<h1 id="Lavori" class="pageTitle"> BACKSTAGE </h1>-->
    <ul class="verticale homeDesTxt pageTitleBack">
      <li>
          <em>B</em>
          <em>A</em>
          <em>C</em>
          <em>K</em>
          <em>S</em>
          <em>T</em>
          <em>A</em>
          <em>G</em>
          <em>E</em>

      </li>
    </ul>
</section>
