<!-- Home Text Ciao-->
<section class="zi3dalfa">
  <ul class="verticale homeDesTxt ">
    <li>
        <em class="Hid FadeI15">C</em>
        <em class="Hid FadeI16">I</em>
        <em class="Hid FadeI17">A</em>
        <em class="Hid FadeI18">O</em>
    </li>
  </ul>
</section>
