<!-- Home Text Developer-->
<section class="zi3dlambda">
  <ul class="verticale homeDesTxt">
    <li>
        <em class="Hid FadeI38">D</em>
        <em class="Hid FadeI39">E</em>
        <em class="Hid FadeI40">V</em>
        <em class="Hid FadeI41">E</em>
        <em class="Hid FadeI42">L</em>
        <em class="Hid FadeI43">O</em>
        <em class="Hid FadeI44">P</em>
        <em class="Hid FadeI45">E</em>
        <em class="Hid FadeI46">R</em>
    </li>
  </ul>
</section>
