<!-- Home Text Giuseppe-->
<section class="zi3dgamma">
  <ul class="verticale homeDesTxt">
    <li>
        <em class="Hid FadeI23">G</em>
        <em class="Hid FadeI24">I</em>
        <em class="Hid FadeI25">U</em>
        <em class="Hid FadeI26">S</em>
        <em class="Hid FadeI27">E</em>
        <em class="Hid FadeI28">P</em>
        <em class="Hid FadeI29">P</em>
        <em class="Hid FadeI30">E</em>
    </li>
  </ul>
</section>
