<!-- Home Text Sono-->
<section class="zi3dbeta">
  <ul class="verticale homeDesTxt">
    <li>
        <em class="Hid FadeI19">S</em>
        <em class="Hid FadeI20">O</em>
        <em class="Hid FadeI21">N</em>
        <em class="Hid FadeI22">O</em>
    </li>
  </ul>
</section>
